<!DOCTYPE HTML>
<html>
<head>
    <title> Приветствие </title>
</head>
<body>
<p>
    {% if not name %}
    Введите имя, пожалуйста!
    {% else %}
    Привет,
    {% if gender == "m" %}
    студент
    {% elif gender == "w" %}
    студентка
    {% endif %}


    {{name}}!
</p>
<p>
    Ваша образовательная программа: {{program}}.
</p>
<p>
    {% if subjects_select %}
    Вы изучаете дисциплины:
    {% for sub in subjects_select %}
    <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>,
    {% endfor %}
    {% else %}
    Вы не изучаете никаких дисциплин.
    {% endif %}
</p>
<p>
    {% if olympiads_select %}
    Вы участвуете в олимпиадах:
    {% for oly in olympiads_select %}
    <a href={{ url_for('olympiad', oly=oly) }}> {{oly}}</a>,
    {% endfor %}
    {% else %}
    Вы не участвуете в олимпиадах.
    {% endif %}
    {% endif %}
</p>
</body>
</html>